################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webtruyen/.vs/webtruyen/FileContentIndex/1d8fb571-9709-499c-aeb4-d006c5294f93.vsidx
/webtruyen/.vs/webtruyen/FileContentIndex/334832e3-deb5-4dde-a230-82de29655730.vsidx
/webtruyen/.vs/webtruyen/FileContentIndex/57e45243-6bfc-4ca1-b4e6-0eb6713dd624.vsidx
/webtruyen/.vs/webtruyen/FileContentIndex/e866c793-9d95-4a7a-ae90-df7812b0d7e6.vsidx
/webtruyen/.vs/webtruyen/FileContentIndex/fda89f45-677b-43bb-8ea4-5dbc661e5377.vsidx
/webtruyen/obj/Debug/net8.0
